body {
    font-family: 'Roboto', Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    text-align: center;
}


/*//////////THIS IS THE HEADER//////////*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 30px 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/*//////////THIS IS THE MAIN/CONTENT AREA//////////*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
}

/*//////////This is the top/dark part of the content area//////////*/

.main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 100px;
    background-color: #1F2937;
    flex: auto;
}

.awesome,
.top-img {
    flex: 1 1 50%;
}

.awesome {
    text-align: left;
}

p {
    margin: 20px 0px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
}

img {
    width: 100%;
    height: auto;
}

/*//////////This is the bottom/light part of the content area//////////*/

.main-bottom {
    background-color: #F9FAF8;
}

/*//////////This is the info part with the four alpaca images//////////*/

.info {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 0px 100px;
}

.info-title {
    font-size: 36px;
    margin: 25px auto;
}

.info-images {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: justify;
}

.image-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    gap: 5px;
}

.image-container img {
    min-width: 200px;
    min-height: 200px;
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.image-container p {
    margin: 0px;
}

/*//////////This is the part with the not-quote about alpacas//////////*/

.quote {
    background-color: #E5E7EB;
    width: 100%;
    margin: 50px 0px;
}

.not-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    padding: 20px 200px 0px;
}

.just-me {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding: 50px 200px 0px;
}

/*//////////This is the part call to action area//////////*/

.action {
    display: flex;
    width: 75%;
    margin: 50px auto;
    padding: 40px 30px;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    border-radius: 5px;
    
}

.action-text {
    text-align: left;
    min-width: 75%;
}

h3 {
    margin: 0px;
}

.button-area {
    min-width: 25%;
}

.action-button {
    border: 2px solid #F9FAF8;
}

/*//////////THIS IS THE FOOTER//////////*/

footer {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
    padding: 30px 50px;
}